.portrait {
  display: none;
}

@media only screen 
  and (max-width: 768px) {

  .portrait {
    display: initial;
  }

  .landscape {
    display: none;
  }

  .hide {
    display: none !important;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }

  .reminders {
    z-index: 1;
    overflow: auto;
  }

  .reminders span.reminders-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: .5rem;
  }

  .today {
    display: flex;
    z-index: 3;
    transition: all .4s ease;
    flex-direction: column;
    align-items: flex-start;
  }

  .today span.label-and-button {
    position: initial;
    white-space: nowrap;
  }

  .today label {
    text-align: left;
  }

  .switch-button {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--bg-dark);
    color: var(--bg-light);

    border-radius: 2rem;

    font-size: .9rem;
    padding: .4rem;

    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    position: fixed;
    top: .6rem;
    right: .6rem;
    z-index: 99;
  }

  .switch-button-light {
    background: var(--bg-light);
    color: var(--bg-dark);
  }

  .signin {
    display: flex;
    align-items: center;
  }
}